.event-card {
  background-color: #EAE4DD;
  border-radius: 12px;
  padding: 1.5rem;
  max-width: 500px;
  width: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #295F98;
}

.event-card h2 {
  color: #295F98;
  margin-bottom: 0.5rem;
}

.event-card p {
  margin: 0.2rem 0;
}

.event-card p strong {
  color: #A16D28;
}
