body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #2c3e50;
}

.title {
  font-size: 28px;
  font-weight: 800;
  color: #8e44ad;
  text-align: center;
  border-bottom: 3px solid #e67e22;
  padding-bottom: 8px;
  margin-bottom: 24px;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 28px;
  color: #8e44ad; /* Ungu */
  margin-bottom: 24px;
  border-bottom: 3px solid #e67e22; /* Oranye */
  padding-bottom: 8px;
}
