body {
  margin: 0;
  background-color: #f3c4e7; /* Warna pink muda, sesuaikan sesuai selera */
  font-family: Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
